@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@600&display=swap');

.landing-body {
    .landing-wrapper {
        #header {
            background-image: linear-gradient(90deg, rgba(29, 240, 253, 0.2) 0%, rgba(93, 69, 252, 1) 100%),
            url("\#{resource['own-layout:images/background/speech-therapist.jpg']}");
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            max-width: 100%;
            padding: 36px 200px;

            .header-top {
                text-align: center;

                .logo-container {
                    margin-top: 5px;
                    text-align: left;

                    .logo {
                        img {
                            height: 200px;
                            width: auto;
                        }
                    }
                }

                .menu-button-mobile {
                    display: none;
                }

                #landing-menu {
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    place-content: flex-end;
                    align-items: center;

                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;

                        a {
                            display: flex;
                            text-decoration: none;
                            color: #ffffff;
                            padding: 0 14px;
                            font-size: 16px;
                            text-transform: uppercase;
                            font-family: 'Baloo Da 2', cursive;

                            &:hover {
                                background-color: rgba(32, 32, 32, 0.2);
                                border-radius: 5px;
                                padding-top: 8px;
                                padding-bottom: 8px;
                            }
                        }

                        &.flag {
                            padding: 0px;
                            img {
                                width: 27px;
                            }
                        }
                    }
                }
            }

            .header-content {
                padding: 130px 60px 130px 60px;

                .header-bg {
                    span {
                        color: #ffffff;
                        text-shadow: 2px 2px 2px #04040470;
                        font-size: 40px;
                        font-family: 'Baloo Da 2', cursive;
                    }
                }

                .sub-header-bg {
                    span {
                        color: #00b1ff;
                        text-shadow: 2px 2px 2px #04040470;
                        font-size: 40px;
                        font-family: 'Baloo Da 2', cursive;
                    }
                }

                .sub-header-description {
                    p {
                        color: white;
                        text-shadow: 2px 2px 2px #04040470;
                        font-size: 18px;
                        font-family: "Baloo Da 2", cursive;
                    }
                }

                .header-button {
                    display: flex;
                    place-content: flex-end;
                }

                .ui-button {
                    padding: 8px 16px;
                    margin-top: 10px;
                    font-weight: 700;

                    &:hover {
                        background-color: rgba(32, 32, 32, 0.3);
                        color: #ffffff;
                    }
                }
            }
        }

        .landing-button {
            background: linear-gradient(200deg, rgba(29, 240, 253, 1) 0%, rgba(93, 69, 252, 1) 100%);
            border-radius: 25px;
            color: white;
            border: none;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
            font-weight: 500;
        }

        .landing-button:hover {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        }

        #features {
            background-color: #ffffff;
            padding: 60px 200px;

            .section-header {
                font-size: 24px;
                font-weight: 500;
                border-bottom: 1px solid #C5C5C5;
                width: fit-content;
                display: inline-block;
                margin-bottom: 20px;
                padding-bottom: 10px;
                color: #373737;
            }

            .features-content {
                text-align: center;
                h3 {
                    text-transform: uppercase;
                    font-family: "Baloo Da 2", cursive;
                }
                img {
                    max-width: 200px;
                    max-height: 200px;
                }
            }
        }

        #news {
            background: url("\#{resource['ecuador-layout:images/bg-news.jpg']}") no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            padding: 110px 200px;

            .news-content {
                text-align: center;
            }
        }

        #pricing {
            background-color: #ffffff;
            padding: 60px 200px;

            .section-header {
                font-size: 24px;
                font-weight: 500;
                border-bottom: 1px solid #C5C5C5;
                width: fit-content;
                display: inline-block;
                margin-bottom: 20px;
                padding-bottom: 10px;
                color: #373737;
            }

            .pricing-container {
                padding: .5rem;

                .price-type {
                    text-align: center;
                    background-color: #ffffff;
                    margin-left: -1px;

                    .price-header-starter {
                        background: #4ac9be;
                        border-bottom: 4px solid #30968b;
                        box-shadow: -5px 0 5px -5px #30968b, 5px 0 5px -5px #30968b;
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        padding: 2px 24px;

                        h3 {
                            color: white;
                            text-transform: uppercase;
                            font-size: 24px;
                        }
                    }

                    .price-header-pro {
                        background: #9985cd;
                        border-bottom: 4px solid #7161a2;
                        box-shadow: -5px 0 5px -5px #7161a2, 5px 0 5px -5px #7161a2;
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        padding: 2px 24px;

                        h3 {
                            color: white;
                            text-transform: uppercase;
                            font-size: 24px;
                        }
                    }

                    .price-header-premium {
                        background: #cb9e67;
                        border-bottom: 4px solid #9a6a42;
                        box-shadow: -5px 0 5px -5px #9a6a42, 5px 0 5px -5px #9a6a42;
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        padding: 2px 24px;

                        h3 {
                            color: white;
                            text-transform: uppercase;
                            font-size: 24px;
                        }
                    }

                    .pricing-bottom {
                        padding: 24px;
                        margin-top: -1px;
                        min-height: 500px;
                        position: relative;

                        .price-for {
                            font-size: 40px;
                            font-weight: 600;
                        }
                        .price-for::after {
                            content: '€';
                        }

                        ul {
                            padding: 0;
                            margin: 0;
                            margin-bottom: 20px;
                            padding-bottom: 20px;

                            li {
                                list-style: none;
                                line-height: 24px;
                                color: #7D7D7D;
                                padding: 10px 0;
                            }
                        }
                    }

                    .pricing-bottom-starter {
                        border-left: 2px solid #30968b;
                        border-right: 2px solid #30968b;
                        box-shadow: -5px 0 5px -5px #30968b, 5px 0 5px -5px #30968b;
                        .price-for {
                            color: #30968b;
                        }
                    }

                    .pricing-bottom-pro {
                        border-left: 2px solid #7161a2;
                        border-right: 2px solid #7161a2;
                        box-shadow: -5px 0 5px -5px #7161a2, 5px 0 5px -5px #7161a2;
                        .price-for {
                            color: #7161a2;
                        }
                    }

                    .pricing-bottom-premium {
                        border-left: 2px solid #9a6a42;
                        border-right: 2px solid #9a6a42;
                        box-shadow: -5px 0 5px -5px #9a6a42, 5px 0 5px -5px #9a6a42;

                        .soon-container {
                            margin: 80px 0;
                            transform: rotate(-20deg);
                            .soon {
                                padding: 6px 16px;
                                font-size: 30px;
                                border-style: dashed;
                                border-radius: 14px;
                                color: #9a6a42;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }

        #multimedia {
            background: url("\#{resource['ecuador-layout:images/bg-media.jpg']}") no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            padding: 110px 200px;

            .video-header {
                color: #ffffff;
                text-align: center;

                .section-header {
                    font-size: 24px;
                    font-weight: 500;
                    border-bottom: 1px solid #B76F80;
                    width: fit-content;
                    display: inline-block;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                }

                span {
                    font-size: 16px;
                    font-weight: 300;
                    display: block;
                }
            }

            .video-container {
                box-sizing: border-box;
                display: block;
                text-align: center;

                iframe {
                    width: 580px;
                    height: 330px;
                    margin-top: 50px;
                }
            }
        }

        #footer {
            padding: 50px 200px;

            .footer {
                .logo {
                    img {
                        height: 26px;
                        vertical-align: middle;
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 13px;
                    display: block;
                    margin-top: 15px;
                    color: $footerTextColor;
                    padding: 0;
                }
            }

            #landing-menu {
                .landing-box {
                    text-align: left;
                    padding: 0;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        text-align: left;
                        color: #8A8A8A;
                        display: block;
                    }

                    a {
                        text-decoration: none;
                        margin-top: 8px;
                        font-size: 13px;
                        font-weight: 400;
                        display: block;
                        color: #666666;

                        > a {
                            opacity: 0.9;
                            font-size: 13px;
                            text-align: left;
                            color: #666666;
                        }

                        &:hover {
                            color: #1F1F1F;
                        }
                    }

                    .icon-link {
                        display: inline-block;
                        margin-top: 30px;

                        .icon {
                            color: #666666;
                            font-size: 22px;
                            margin-right: 16px;
                            margin-left: 16px;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:hover {
                                color: #1F1F1F;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1340px) {
    .landing-body {
        .landing-wrapper {
            #header {
                padding: 0 32px;

                .header-top {
                    .menu-button-mobile {
                        display: block;
                        height: 36px;
                        width: 36px;

                        i {
                            color: #ffffff;
                            margin-top: 5px;
                        }

                        &:hover {
                            background-color: $topbarIconHoverBgColor;
                        }
                    }

                    .logo-container {
                        width: 100%;
                    }

                    #landing-menu {
                        display: none;
                        position: relative;

                        &.landing-menu-active {
                            margin: 0;
                            display: block;
                            position: absolute;
                            top: 36px;
                            left: 0;
                            width: 100%;
                            background-color: #f4f4f4;
                            z-index: 100;

                            li {
                                display: block;
                                text-align: left;
                                padding: 12px 20px;

                                a {
                                    display: inline-block;
                                    color: #A22650;

                                    &:hover {
                                        font-weight: 700;
                                        background-color: transparent;
                                        padding: 0 14px;
                                    }
                                }

                                &:hover {
                                    background-color: rgba(255, 255, 255, 0.1);
                                }
                            }
                        }
                    }
                }

                .header-content {
                    padding: 60px 32px;

                }
            }

            #features {
                padding: 50px;
            }

            #news {
                padding: 50px;
            }

            #pricing {
                padding: 50px;

                .pricing-container {
                    padding-bottom: 20px;
                    .price-type {
                        .pricing-bottom {
                            min-height: 100%;
                        }
                    }
                }
            }

            #multimedia {
                padding: 50px;

                .video-container {
                    box-sizing: border-box;
                    display: block;
                    text-align: center;

                    iframe {
                        width: 300px;
                        height: 170px;
                        margin-top: 50px;
                    }
                }
            }

            #footer {
                text-align: center;
                padding: 50px;

                #landing-menu {
                    text-align: center;

                    .landing-box {
                        text-align: center;
                        margin-bottom: 30px;

                        span {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}