@import '../variables';

//main
$bodyBgColor:#fdfdfd;
$breakpoint:1024px;

//menu
$darkMenuTitleTextColor:#656565;
$darkMenuTitleBorderBottomColor:#383838;
$darkMenuBgColor:#2c2c2c;
$darkMenuItemTextColor:#BBBBBB;
$darkMenuItemIconColor:#BBBBBB;
$darkMenuSubmenuBgColor:#2c2c2c;

$lightMenuTitleTextColor:#828282;
$lightMenuTitleBorderBottomColor:#9b9b9b;
$lightMenuBgColor:#ffffff;
$lightMenuItemTextColor:#333333;
$lightMenuItemIconColor:#828282;
$lightMenuSubmenuBgColor:#efefef;

$badgeTextColor:$primaryTextColor;
$badgeBgColor:$primaryColor;

//route bar
$routeBarBgColor:#EFEFEF;
$routeBarMenuItemTextColor:#828282;
$routeBarMenuItemIconColor:#828282;

//slim menu tooltip
$slimMenuTooltipBgColor:#2c2c2c;
$slimMenuTooltipTextColor:#BBBBBB;

//footer
$footerBgColor:#F3F3F3;
$footerTextColor:#F3F3F3;

//right panel
$rightPanelButtonBgColor:#2c2c2c;
$rightPanelButtonIconColor:#BBBBBB;
$rightPanelBgColor:#2c2c2c;
$rightPanelHeaderBgColor:#323232;
$rightPanelHeaderTextColor:#ffffff;
$rightPanelContentBgColor:#323232;
$rightPanelContentTextColor:#ffffff;