$primaryColor:#44be2d;
$primaryTextColor:#333333;

$topbarBgLeftColor:#07b750;
$topbarBgRightColor:#c7d41b;
$topbarSidebarButtonColor:#333333;
$topbarIconHoverBgColor:#088D3F;
$topbarMenuHoverBgColor:#8C9512;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:#5bad4b;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border: 100px none $primaryColor;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: $topbarBgLeftColor;
}

::-webkit-scrollbar-thumb:active {
  background: $primaryColor;
}

::-webkit-scrollbar-track {
  background:  $topbarSidebarButtonColor;
  border: 0px dotted  $topbarSidebarButtonColor;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background:  $topbarSidebarButtonColor;
}

::-webkit-scrollbar-track:active {
  background:  $topbarSidebarButtonColor;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@import '../../sass/layout/_layout';