$primaryColor:#4E7487;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#16222A;
$topbarBgRightColor:#3A6073;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#3C5362;
$topbarMenuHoverBgColor:#4D7C93;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border: 100px none $primaryColor;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: $topbarBgLeftColor;
}

::-webkit-scrollbar-thumb:active {
  background: $primaryColor;
}

::-webkit-scrollbar-track {
  background:  $topbarSidebarButtonColor;
  border: 0px dotted  $topbarSidebarButtonColor;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background:  $topbarSidebarButtonColor;
}

::-webkit-scrollbar-track:active {
  background:  $topbarSidebarButtonColor;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// agenda
.fc-button-primary {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color: $topbarBgLeftColor;
  border-color: $topbarBgLeftColor;
}

.fc-button-primary:disabled {
  color: #fff;
  background-color: transparentize($primaryColor, 0.5);
  border-color: transparentize($primaryColor, 0.5);
}

.fc-button-primary:not(:disabled).fc-button-primary:hover {
  color: #fff;
  background-color: $topbarBgLeftColor;
  border-color: $topbarBgLeftColor;
}

@import '../../sass/layout/_layout';