
.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

body .ui-selectonemenu-panel .ui-state-disabled {
    display: none;
}

body .ui-inputgroup .ui-button{
    border: 1px solid #c4c4c4;
}

body .ui-noselection-option{
    color: #666666;
}

.layout-topbar .search-input input::placeholder {
    color: #ffffff;
}

.layout-wrapper .layout-topbar .rapid-btn {
    float: right;
    top: 0;
    height: 60px;
    padding: 20px;
    font-weight: 500;
}
/* CARD */

.card-title {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.card-content {
    line-height: 1.4;
    margin-bottom: 30px;
    min-height: 76px;
}

.card-footer {
    display: flex;
    align-items: center;
}

/* END CARD */

/* PANEL LIST */
.ui-panel-content .panel-content .panel-content-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.ui-panel-content .panel-content ul {
    padding-left: 0;
    margin: 0;
}

.ui-panel-content .panel-content li {
    display: flex;
    list-style: none;
    padding: 1.2em 0 1.2em 5px;
    border-bottom: dotted 1px #dedede;
}

.ui-panel-content .panel-content li:last-child {
    border-bottom: none;
}

/*.ui-panel-content .panel-content li:hover {
    background-color: #dedede;
}*/
.tag {
    font-weight: normal;
    font-size: 8px;
    border: 1px solid;
    padding: 2px;
    text-transform: uppercase;
}

.status-tag {
    border: 1px solid;
    padding: 2px 5px;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
}

.tag-danger {
    color: #f05050;
    background-color: rgba(240, 80, 80, 0.1);
}

.tag-success {
    background-color: rgba(97, 177, 69, 0.1);
    color: #61b145;
}

.tag-secondary {
    background-color: rgba(125, 145, 178, 0.1);
    color: #7d91b2;
}

.panel-content {
    height: 280px;
    overflow: scroll;
}

body .ui-panel .ui-panel-content {
    padding: 1em 1em;
}

.pull-right {
    left: 123px;
}

/* END CARD LIST */

/* CHARGE CARD */
.charge-Card {
    display: flex;
    justify-content: space-between;
}

.charge-Card .icon {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-size: 30px;
}

.charge-Card .number {
    font-size: 30px;
    font-weight: 500;
}

.icon-success {
    color: #81c868;
}

.icon-warning {
    color: #ffbd4a;
}

.icon-danger {
    color: #f05050;
}

.icon-primary {
    color: #00b1ff;
}

.icon-secondary {
    color: #efefef;
}
/* TITLE BAR */
body .ui-panel-titlebar img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 30px;
}

body .ui-panel-titlebar h1 {
    margin: 0;
    display: inline;
}

body .ui-panel .ui-panel-actions .ui-button{
    margin-right: 5px;
}

body .ui-panel .ui-panel-actions .ui-button:last-child{
    margin-right: 0;
}
/* END TITLE BAR*/

/* TITLE BAR TOOLBAR */
body .ui-panel .ui-panel-title .toolbar,
body .ui-panel .ui-panel-content .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

body .ui-panel .ui-panel-title .toolbar h1,
body .ui-panel .ui-panel-content .toolbar h4 {
    margin: 0 0 5px 0;
    display: block;
}

body .ui-panel .ui-panel-title .toolbar button,
body .ui-panel .ui-panel-content .toolbar button{
    margin-left: 10px;
}

body .ui-panel .ui-panel-title .toolbar .text .tag:first-child {
    margin-left: 0;
}


body .ui-inputfield,
body .ui-selectonemenu {

    width: 100%;
}

/* MENU TAB */
body .ui-tabs.ui-tabs-top .ui-tabs-nav,
body .ui-tabmenu .ui-tabmenu-nav {
    justify-content: space-between;
    display: flex;
}

body .ui-tabs .ui-tabs-nav .ui-tabs-header,
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    display: flex;
    justify-content: center;
    width: 100%;
}

body .ui-tabs .ui-tabs-nav .ui-tabs-header:last-child,
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:last-child {
    margin-right: 0;
}

/* END MENU TAB */
body .ui-datatable .ui-datatable-data > tr.ui-datatable-even{
    background-color: inherit;
}

body .ui-datatable .ui-datatable-data > tr.ui-datatable-even:hover,
body .ui-datatable .ui-datatable-data > tr.ui-datatable-odd:hover {
    background-color: #f2f2f2;
}

body .ui-datatable thead th {
    text-align: left;
    border: none;
    border-bottom: 2px solid #dedede;
}

body .ui-datatable .ui-datatable-data > tr {
    border: none;
    border-top: 1px solid #dedede;
}

.captcha {
    display: flex;
    justify-content: center;
}

body .ui-panel .ui-panel-actions .ui-button {
    margin-right: 10px;
}

.ui-datatable-empty-message {
    text-align: center;
}

.emptyMessage {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.emptyMessage p {
    width: 40%;
    margin: 25px auto;
}

.ui-dialog-content {
    padding: 20px;
}

.column-footer-group {
    background: #f4f8fb !important;
    border-right: 15px solid white !important;
}

.column-left-footer {
    text-align: left !important;
}

.column-right-footer {
    text-align: right !important;
}

.bg-primary {
    background-color: #00b1ff !important;
    color: white !important;
}

.bg-secondary {
    background-color: #f4f8fb !important;
}

.bg-success {
    background-color: #81c868 !important;
    color: white !important;
}

@media only screen and (max-width: 715px) {
    body .ui-tabs.ui-tabs-top .ui-tabs-nav,
    body .ui-tabmenu .ui-tabmenu-nav {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }

    body .ui-panel .ui-panel-title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    body .ui-toolbar {
        display: flex;
        flex-direction: column;
    }

    body .ui-toolbar .ui-separator {
        display: none;
    }

    body .ui-panel .ui-panel-actions {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    body .ui-panel .ui-panel-actions ui.ui-separator {
        transform: rotate(90deg);
    }
    

    body .ui-panel .ui-panel-actions button {
        margin: 5px 0;
    }
}
