.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

body .ui-toolbar .ui-commandlink {
    color: #828282;
}
body .ui-toolbar .ui-commandlink:hover {
    color: #ffffff;
}

.ui-state-highlight {
    background-color: #dedede;
}

.inplace-field {
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted #dedede;
}
body .card .inplace-field:first-child {
    padding-top: 0;
}

.card-content .inplace-field:last-child {
    padding-bottom: 0;
}

.inplace-field label {
    padding: 0.429em;
    font-weight: bold;
}

body .ui-button.ui-button-icon-only {
    margin-right: 2px;
}

body .ui-toolbar {
    border-bottom: none;
}

body .ui-toolbar img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.card {
    border-top: none;
}

body .ui-toolbar h1 {
    margin: 0;
    color: #828282;
}

body .ui-toolbar h2{
    margin: 0;
    color: #828282;
}

body .ui-toolbar h3 {
    margin: 0;
    color: #828282;
}

body .ui-toolbar h4 {
    margin: 0;
    color: #828282;
}

.ui-toolbar-group-left {
    display: flex;
    align-items: center;
}

.card-content {
    height: 280px;
    overflow: scroll;
}

body .ui-inputfield {
    width: 100%;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav,
body .ui-tabmenu .ui-tabmenu-nav {
    justify-content: space-between;
    display: flex;
}

body .ui-tabs .ui-tabs-nav .ui-tabs-header,
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    display: flex;
    justify-content: center;
    width: 100%;
}

body .ui-tabs .ui-tabs-nav .ui-tabs-header:last-child,
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:last-child {
    margin-right: 0;
}

body .ui-toolbar {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
}

body .ui-tabs .ui-tabs-panels .ui-tabs-panel {
    padding: 2em 1em 1em 1em; !important;
}

body .ui-dialog-content h4 {
    margin: 5px 0;
}














@media only screen and (max-width: 620px) {
    body .ui-tabs.ui-tabs-top .ui-tabs-nav,
    body .ui-tabmenu .ui-tabmenu-nav {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }

    .ui-toolbar-group-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    body .ui-toolbar {
        display: flex;
        flex-direction: column;
    }

    body .ui-toolbar .ui-separator {
        display: none;
    }

    .ui-toolbar-group-right {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .ui-toolbar-group-right span:first-child,
    .ui-toolbar-group-right button {
        margin: 5px 0;
    }
}
